    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing Page</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <main class="gallery-intro">
            <div>
                <h1>NATIONAL GEOGRAPHIC WILD</h1>
                <p>Explore the wilds of Africa</p>
            </div>
            <a href="/gallery">Gallery</a>
        </main>
    </body>

    </html>