* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-image: linear-gradient(to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url("../images/giraffe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery-intro {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

div {
  margin-bottom: 2rem;
}

div h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 1px;
}

div p {
  font-size: 1.2rem;
}

.gallery-intro a {
  font-size: 2rem;
  text-decoration: none;
  color: goldenrod;
  padding: 0.6rem;
  border: 2px solid gold;
  border-radius: 10px;
  letter-spacing: 1px;
}